<!DOCTYPE html>
<html>
  <head>
    <title>Guild</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% unless flash.empty? %>
    <div class="text-center">
      <div class="notice text-info">
        <%= notice %>
      </div>
      <div class="alert text-danger">
        <%= alert %>
      </div>
    </div>
  <% end %>
  <body>
    <div class="container">
      <h1>The Guild</h1>
      <%= yield %>
    </div>
  </body>
</html>
