<!DOCTYPE html>
<html>
  <head>
    <title>Guild</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-site-verification" content="MantXgiQwyBKvYs_iY36XN_fNbMEtEXEhtwEf-Llhn0" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cyberstrike" />
    <meta name="twitter:title" content="TheGuild.miami" />
    <meta name="twitter:description" content="The place for tech jobs in South Florida." />

    <!-- Chrome Theme Color -->
    <meta name="theme-color" content="#663399">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <%= render 'google_analytics' %>

  </head>
  <body id=<%= params[:controller] %> class=<%= params[:action] %> >

    <%= render 'layouts/nav' %>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
